body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wheel-app {
  width: 768px;
  height: 704px;
  margin-top: 64px;
  position: relative;
}

#wheel {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0%);
}

#color-selector {
  width: 640px;
  height: 640px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  box-sizing: content-box;
  z-index: 4;
  transform-origin: center;
}

#handle, .eyedropper {
  width: 0;
  height: 0;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

#handle {
  border: 2px solid black;
}

.eyedropper {
  border: 2px solid grey;
}

#slider-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -0%);
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: linear-gradient(to right, black, white);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 6px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.slider::-moz-range-thumb, .slider::-webkit-slider-thumb {
  width: 21px; /* Set a specific slider handle width */
  height: 21px; /* Slider handle height */
  background: transparent;
  border: 4px ridge black;
  cursor: pointer; /* Cursor on hover */
}

#pallette {
  display: flex;
}