#wheel {
  margin: auto;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  background: 
    conic-gradient(
    hsl(360, 100%, 50%),
    hsl(315, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(225, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(135, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(45, 100%, 50%),
    hsl(0, 100%, 50%)
    )
}

#wheel::after {
  content: '';
  display: inline-block;
  width: 512px;
  height: 512px;
  border-radius: 50%;
  background: radial-gradient(
    hsla(0, 0%, 100%, 100%),
    hsla(0, 0%, 100%, 0%)
  );
}